.rowTableSpecs {
    border-bottom: 1px solid #C4C4C4;
    height: 45px;

    & td {
        font-weight: 400;
        

        &:first-child {
            width: 71%;
        }

        &:last-child {
            width: 29%;
        }
    }
}