.slide {
    width: 270px;
    height: 403px;
    // margin: 0;
    // margin-right: 30px!important;
}

.swiper {
    position: relative;
}

.prev {
    width: 15px;
    height: 28px;
    background-image: url(./../../../assets/images/content-product/swiper/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1600px;
    left: 300px;
}


.next {
    width: 15px;
    height: 28px;
    background-image: url(./../../../assets/images/content-product/swiper/right.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1600px;
    right: 300px;

}