.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

/* .swiper-button-prev, .swiper-button-next {
    color: #2F3035!important;
} */

:root {
    --swiper-navigation-size: 28px!important;
    --swiper-navigation-color: #2F3035;
}