*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;

/* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Barlow', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* @font-face {
  font-family: 'BarlowBold'!important;
  src: local('BarlowBold') url(./assets/fonts/Barlow/Barlow-Bold.ttf) format('ttf')!important;
  font-display: swap;
} */

/* @font-face {
  font-family: 'BarlowRegular'!important;
  src: local('BarlowRegular') url(./assets/fonts/Barlow/Barlow-Regular.ttf) format('ttf')!important;
  font-display: swap;
} */

/* @font-face {
  font-family: 'BarlowSemiBold'!important;
  src: local('BarlowSemiBold') url(./assets/fonts/Barlow/Barlow-SemiBold.ttf) format('ttf')!important;
  font-display: swap;
} */


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');


@font-face {
  font-family: 'ProximaNovaBold';
  src: local('ProximaNovaBold') url(./assets/fonts/ProximaNova/ProximaNova-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: local('ProximaNovaSemiBold') url(./assets/fonts/ProximaNova/ProximaNova-Semibold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: local('SFProDisplayBold') url(./assets/fonts/SFProDisplay/SFProDisplay-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplayMedium';
  src: local('SFProDisplayMedium') url(./assets/fonts/SFProDisplay/SFProDisplay-Medium.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplayRegular';
  src: local('SFProDisplayRegular') url(./assets/fonts/SFProDisplay/SFProDisplay-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplaySemibold';
  src: local('SFProDisplaySemibold') url(./assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff) format('woff');
  font-display: swap;
}



