.baner{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
// .sliderBaner{
//     width: 70%;
// }
.products{
    margin-bottom: 80px;
}
.saleBaner{
    margin-bottom: 70px;
}

.buyWithProduct {
    margin-bottom: 97px;
}
