
.sale{
    background-color: #1C62CD;
    padding-left: 1%;
    display: grid;
    grid-template-columns: 152px 180px 310px 1fr;
    // @media screen and (max-width:1200px){
    //     grid-template-columns: 152px 180px 1fr 1fr;
    //     padding-left: 10px;
    // }
    // @media screen and (max-width:960px){
    //     grid-template-columns: repeat(3,1fr);
    //     grid-template-rows: repeat(2,1fr);  
    //     padding-left: 0;
    // }
}
.saleAll{
    transform: scaleX(-1);
    // @media screen and (max-width:960px){
    //     grid-column: 3/4; 
    //     grid-row: 2/3; 
    // }
}
// .saleMoto{
//     @media screen and (max-width:960px){
//         grid-column:1/2; 
//         grid-row: 2/3; 
//         justify-content: space-around;
//     }
// }
.saleMoto,
.saleAll{
    display: flex;
    justify-content: end;
    align-items: center;
}
.saleText{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media screen and (max-width:960px){
    //     grid-column:1/4 ; 
    //     grid-row: 1/2; 
    // }
}
// .br{
//     @media screen and (max-width:960px){
//         display: none;
//     }
// }
.saleButton{
    display: flex;
    justify-content: start;
    align-items: center;
}
.button{
    width: 284px;
    max-height: 57px;
    border: none;
    background: #FFFFFF;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    text-align:center;
    color: #2F3035;
}