@import './../../../sass/mixins.scss';

.social{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 40px;
    @include media(md){
        width: 100%;
        background: white;
    }
}
.img{
    margin-right: 30px;
}