.button {
    width: 140px;
    height: 35px;
    background-color: #1C62CD;
    color: #fff;
    border: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
}