.footerList{
<<<<<<< HEAD
    list-style: none;
=======
>>>>>>> 5e5a3b13181b9e3c3a082cf2d7c336e86a13f403
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    // padding-right: 100px;
    min-width: 140px;
    margin-top: 40px;
}
.header{
    font-size: 14px;
    margin-bottom: 5px;
}
.listItem{
    list-style-type: none;
    margin-bottom: 5px;
}
