@import './../../../sass/vars.scss';


.spanSale{
    width: 37%;
    height: 30px;
    background: $accentColor;
    text-align: center;
}
.text{
<<<<<<< HEAD
    font-family: 'ProximaNovaBold',sans-serif;
=======
    font-family: 'ProximaNova';
    font-weight: 700;
>>>>>>> 5e5a3b13181b9e3c3a082cf2d7c336e86a13f403
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}