.adviseProducts {
    border: 1px solid grey;
    height: 403px;
    position: relative;
}

.label{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    width: 63px;
    height: 25px;
    background: #1C62CD;
    color: #FFFFFF;
    padding: 5px 15px 9px;
}


.basketBtn {
    background: url(../../../assets/images/cart.png);
    background-repeat: no-repeat;
    border: none;
}


